*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.side-bar{
    height: 100%;
    width: 12rem;
    position: absolute;
    text-align: center;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-12rem);
    background-color: #c3829e;
}


.side-bar .user{
    color: #fcd1d7;
    font-size: 2rem;
    font-weight: bold;
    padding: .938rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.188;
    background-color:#562135;

}

.user .prof-pic{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.side-bar .items{
    margin: 0rem;
    padding: 0rem;
}

.side-bar .social { 
    padding: 0rem;
    padding-right: .625rem;
    text-align: right;
    height: 5.75rem;
    list-style-type: none;

    position: absolute;
    bottom: 0rem;
    width: 100%;
}

.side-bar ul{
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    list-style: none;
}

.social ul{
    margin: 0rem;
    padding: 0rem;
}

.social ul li{
    display: inline-block;
}

.social ul li a{
    font-size: 4rem;
    margin-left: .625rem;
    transition: 0.3s;
    color: #fcd1d7;
}

.social ul li:hover a{
    color: #562135;
    position: relative;
    background-color: #fcd1d75e;
    transition: 0.3s;
    font-size: 5rem;
}

.items ul li{
    width: 100%;
    display: block;
}

.items ul li a{
    display: block;
    padding: 1em;
    color: #fcd1d7;
    font-size: 2rem;
    letter-spacing: .063rem;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

.items ul li a i{
    width: 4.375rem;
    font-size: 2rem;
    text-align: center;
}

.items ul li:hover a{
    color: #562135;
    background-color: #fcd1d75e;
    transition: 0.3s;
    letter-spacing: .313rem;
}

#check{
    visibility: hidden;
    display: none;
}

.mark{
    position: absolute;
    right: -2.5rem;
    top: 1.875rem;
    font-size: 1.875rem;
    border-radius: .25rem;
    padding: .25rem .5rem;
    cursor: pointer;
    color: #e7dad6;
    
    background-color: #562135;
}


#bars{
    right: -3.5rem;
    font-size: 1.875rem;
}
#check:checked ~ .side-bar{
    transform: translateX(0rem);
}
#check:checked ~ .side-bar #bars{
    display: none;
}
#check:not(:checked) ~ .side-bar #times{
    display: none;
}
section{
    min-height: 100vh;
    padding: 1rem;
    background-image: linear-gradient(120deg, #562135,#341d72);
    transition: 0.5s;
    filter: brightness(1);
}
#check:checked ~ section{
    filter: brightness(30%);
}
@media (max-height:50rem){
    .social{
        display: none;
    }
}

@media (max-width:39rem) {
    .dis-full{
        display: none;
    }
    .side-bar .social{
        height: 4.57rem;
    }
    .social ul li a{
        font-size: 3rem;
    }
    .social ul li:hover a{
        font-size: 4rem;
    }
    .items ul li a i{
        padding: 0rem;
    }
}

@media (min-width:40em) {
    .side-bar{
        width:24rem;
        transform: translateX(-24rem);
    }
    .side-bar .prof-pic{
        height: 12rem;
        width: 12rem;
    }
    .dis-min{
        display: none;
    }
    #check:checked ~ .side-bar{
        transform: translateX(0rem);
    }

} 

/*
#562135	(86,33,53)
#c3829e	(195,130,158)
#e9b1cd	(233,177,205)
#ffe7de	(255,231,222)
#fcd1d7 (252,209,215)*/